<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
	
	<!-- ==================== 控制台输出 ===================== -->
	
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p %d{yyyy-MM-dd HH:mm:ss,SSS} [%t] %c - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="DEBUG" />
			<param name="LevelMax" value="FATAL" />
		</filter>
	</appender>
	
	<!-- ================= 按输出级别分类 =================== -->
	
	<!-- debug级别 -->
	<appender name="debug"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="E:/data/appLogs/kafka.debug.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd HH:mm:ss,SSS} [%t] %c - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="DEBUG" />
			<param name="LevelMax" value="DEBUG" />
		</filter>
	</appender>
	
	<!-- info级别 -->
	<appender name="info"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="E:/data/appLogs/kafka.info.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%d{yyyy-MM-dd HH:mm:ss,SSS}] %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="INFO" />
			<param name="LevelMax" value="INFO" />
		</filter>
	</appender>
	
	<!-- warn级别 -->
	<appender name="warn"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="E:/data/appLogs/kafka.warn.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd HH:mm:ss,SSS} [%t] %c - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="WARN" />
			<param name="LevelMax" value="WARN" />
		</filter>
	</appender>
	
	<!-- error级别 -->
	<appender name="error"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="E:/data/appLogs/kafka.error.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd HH:mm:ss,SSS} [%t] %c - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="ERROR" />
			<param name="LevelMax" value="ERROR" />
		</filter>
	</appender>
	
	<!-- ================= 全局logger ==================== -->
	<logger name="org.soofa" additivity="false">
		<level value="INFO" />
	</logger>
	
	<root>
		<level value="info" />
		<appender-ref ref="info" />
		<appender-ref ref="warn" />
		<appender-ref ref="error" />
		<appender-ref ref="stdout" />
	</root>
	
</log4j:configuration>
